<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://drive.google.com/uc?id=1jLrfISsLUcRiwgNl0koSfsS6lylj0E7h"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="https://vjs.zencdn.net/7.7.6/video-js.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/videojs-max-quality-selector/dist/videojs-max-quality-selector.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/anime.css" />
    <link rel="stylesheet" href="/css/bootstrap-utils/height.css" />
    <title>FPTPlay-Clone</title>
  </head>
  <body>
    <%- include('../../partials/header'); %>

    <div class="container">
      <div class="row">
        <div class="col-12 py-5">
          <video-js
            id="player"
            class="vjs-big-play-centered vjs-fluid"
            controls
            preload="auto"
            autoplay
          >
          </video-js>
        </div>
      </div>
      <div class="row">
        <div class="title col-12 text-white fs-4 mb-4">Tập phim</div>
        <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
          <% anime.episodes.chunk(18).forEach((chunk, i) => { %>
          <li class="nav-item episode-chunk col-lg-3 col-md-4 col-6 mb-3">
            <a
              class="nav-link <%= i === 0 && "active" %> btn btn-outline-orange btn-lg w-75 mx-auto"
              id="pills-home-tab"
              data-bs-toggle="pill"
              href="#ep<%= chunk[0]._id + 1 %>to<%= chunk[chunk.length - 1]._id + 1 %>"
              role="tab"
              aria-controls="pills-home"
              aria-selected="false"
              >Tập <%= chunk[0]._id + 1 %> - Tập <%= chunk[chunk.length - 1]._id
              + 1 %>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="row anime-episodes">
        <div class="tab-content" id="pills-tabContent">
          <% anime.episodes.chunk(18).forEach((chunk, i) => { %>
          <div
            class="tab-pane fade <%= i === 0 && "active show" %>"
            id="ep<%= chunk[0]._id + 1 %>to<%= chunk[chunk.length - 1]._id + 1 %>"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <div class="container-fluid">
              <div class="row">
                <% chunk.forEach(episode => { %>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center mb-3">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg w-75 w-sm-100 w-md-100 w-lg-100 w-xl-100 w-xxl-100"
                    onclick="Player.loadEpisode('<%= episode._id %>')"
                  >
                    Tập <%= episode._id + 1 %>
                  </button>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="row anime-info h-xl-40 my-4">
        <div class="col-lg-9 col-12">
          <div class="container-fluid p-0">
            <div class="row h-xl-50">
              <div class="col-xl-2 col-12">
                <img
                  src="<%= anime.standing_thumb %>?w=282&mode=scale"
                  class="anime-thumbnail h-100"
                />
              </div>
              <div class="col-xl-10 col-12 px-xl-5">
                <div class="anime-title anime-title-vie text-white fs-4">
                  <%= anime.title_vie %>
                </div>
                <div class="anime-title anime-title_origin text-muted fs-5">
                  <%= anime.title_origin %>
                </div>
                <div class="anime-description">
                  <p class="description-title text-white fw-bold my-2">
                    Nội dung
                  </p>
                  <p class="description-content text-muted">
                    <%= Utils.textAbstract(anime.description, 337) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <table class="table table-borderless text-white">
            <tbody>
              <tr class="anime-episodes">
                <td class="text-white fw-bold">Số tập</td>
                <td class="text-muted">
                  <%= anime.episode_latest %>/<%= anime.episode_total %>
                </td>
              </tr>
              <tr class="anime-duration">
                <td class="text-white fw-bold">Thời lượng</td>
                <td class="text-muted"><%= anime.avrg_duration %></td>
              </tr>
              <tr class="anime-nation">
                <td class="text-white fw-bold">Quốc gia</td>
                <td class="text-muted"><%= anime.nation %></td>
              </tr>
              <tr class="anime-type">
                <td class="text-white fw-bold">Thể loại</td>
                <td class="text-muted">
                  <%= anime.list_structure_name.join(', ') %>
                </td>
              </tr>
              <tr class="anime-release-date">
                <td class="text-white fw-bold">Phát hành</td>
                <td class="text-muted"><%= anime.movie_release_date %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% if (!Utils.isEmptyArray(anime.link_videos)) { %>
      <div class="row anime-seasons">
        <div class="title col-12 text-white fs-4 mb-4">Season khác</div>
        <% anime.link_videos.forEach(anime => { %>
        <div class="col-xxl-2 col-lg-3 col-sm-6 col-md-4 col-6 my-2">
          <div class="card anime-item">
            <a href="/anime/watch/<%= anime._id %>">
              <img
                src="<%= anime.standing_thumb %>?w=278"
                class="card-img-top"
              />
              <div class="card-body text-white">
                <p class="card-text">
                  <%= Utils.textAbstract(anime.title_vie, 35) %>
                </p>
              </div>
            </a>
          </div>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/browse/@videojs/http-streaming@1.13.3/dist/videojs-http-streaming.min.js"></script>
    <script src="https://unpkg.com/videojs-max-quality-selector/dist/videojs-max-quality-selector.min.js"></script>
    <script src="https://unpkg.com/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.min.js"
      integrity="sha512-R1+Pgd+uyqnjx07LGUmp85iW8MSL1iLR2ICPysFAt8Y4gub8C42B+aNG2ddOfCWcDDn1JPWZO4eby4+291xP9g=="
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.sc.gl/videojs-hotkeys/latest/videojs.hotkeys.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>


    <script src="/js/fptplay.js"></script>
    <script src="/js/models/Anime.js"></script>
    <script src="/js/utils/index.js"></script>

    <script src="/js/components/nextButton.js"></script>
    <script src="/js/components/previousButton.js"></script>
    <script src="/js/anime/watch.js"></script>
    <script>
      let animeId = "<%= anime._id %>";

      
      Player.init(animeId);
      Player.load();
    </script>
  </body>
</html>
